@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #161b22;
  --light: #1d2434;
  --font-light: #d3ddf4;
  --font-semi-light: #85b6cb;
  --font-semi-light-dark: #507381;
  --button-dark: #2b3136;
  --button-pres: #719aa6;
  --button-light: #dee8f1;
  --hover: #232b3e;
  --border: #324550;
  --estado: #1b2430;
  --card-dark: #1f252d;
  --card-light: #36393b;
  --border-card-dark: #32667d;
  --gradient-start: #b9c0ce;
  --gradient-via: #1c222d;
  --gradient-end: #21262f;
  --hexagonos: #252e39;
}
html {
  overflow-y: scroll;
  background: var(--dark);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  margin: 0 auto;
  box-sizing: border-box;
  align-content: center;
  line-height: 1.6;
  color: white;
}

/* 🔴 🧩 SCROLL 🧩 */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: var(--dark);
  border: 1px solid var(--light);
}
::-webkit-scrollbar-thumb {
  background-color: var(--card-dark);
}

.fondo {
  margin: 0;
  padding: 0;
  background-image: url("../../public/fondo/fondo-completo-mod.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: fit-content;
}

@media only screen and (max-width: 767px) {
  .fondo {
    background-image: url("../../public/fondo/fondo-completo-mobile.svg");
  }
}

.sombra {
  box-shadow: 2px 5px 0px var(--border);
}

.sombra-light {
  box-shadow: 2px 5px 0px var(--font-semi-light);
}

.sombra-light:hover {
  box-shadow: 0px 0px 0px var(--font-semi-light);
  transform: translate(2px, 5px);
}

.sombra-inactiva {
  box-shadow: 5px 6px 0px var(--font-semi-light-dark);
}

.sombra-completa {
  box-shadow: 6px 8px 0px var(--hover);
}

.sombra:hover {
  box-shadow: 0px 0px 0px var(--border);
  transform: translate(2px, 5px);
}

.sombra-card {
  box-shadow: 2px 5px 0px var(--font-semi-light);
}

.sombra-card:hover {
  box-shadow: 0px 0px 0px var(--font-semi-light);
  transform: translate(2px, 5px);
}

.sombra-card-dark {
  box-shadow: 2px 5px 0px var(--font-semi-light-dark);
}

.sombra-card-dark:hover {
  box-shadow: 0px 0px 0px var(--font-semi-light);
  transform: translate(2px, 5px);
}
